<div>
  <div class="relative overflow-hidden transition-all duration-500 ease-in-out opacity-0 max-h-0">
    <div class="py-28">
      <p class="text-center">
        <strong class="block text-3xl font-extrabold leading-10">
          Thank You
        </strong>
        <span class="text-[22px] leading-9">
          Your message has been sent. Our team will follow up with you.
        </span>
      </p>
    </div>
  </div>
  <form method="post"
    action="https://formbucket.com/f/buk_U4HT5xbmpa33kpJ3JCEaFfIb"
    class="transition-all duration-500 ease-in-out relative overflow-hidden flex flex-col gap-6 max-h-[800px] opacity-100">
    <div>
      <h3 class="text-2xl font-bold leading-9 text-center">
        We can help.
      </h3>
      <p class="text-lg leading-6 text-center text-gray-700">
        Learn how you can optimize your removal process reliably and
        cost-effectively.
      </p>
    </div>
    {% for field in [
      {
        type: 'text',
        name: 'name',
        label: 'Name',
        placeholder: 'Your Name',
        value: 'Joe Smith',
        required: true
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'your@email.com',
        value: 'info@mail.com',
        required: true
      },
      {
        type: 'tel',
        name: 'phone',
        label: 'Phone',
        placeholder: '555-444-3333',
        value: '555-444-3333',
        required: true
      },
      {
        type: 'text',
        name: 'organization',
        label: 'Organization',
        placeholder: 'Acme, Inc.',
        value: 'Acme, Inc.',
        required: true
      }
    ] %}
      <div>
        <label class="block px-1">
          <span class="p-2 text-lg font-semibold">{{ field.label }}</span>
          <input type="{{ field.type }}"
            name="{{ field.name }}"
            id="{{ field.name }}"
            {{
            field.placeholder is defined and field.placeholder is not empty
              ? 'placeholder="' ~ field.placeholder ~ '"'
              : ''
            }}
            class="block w-full p-3 mt-1 border border-gray-300 rounded-md selection:bg-gray-300 selection:bg-opacity-50 focus:border-gray-300 focus:ring focus:ring-gray-300 focus:ring-opacity-50"
            {{ field.required ? 'required' : '' }}
            value="{{ field.value }}" />
        </label>
      </div>
    {% endfor %}
    <div>
      <div class="g-recaptcha"
        data-sitekey="6LdIhBIgAAAAAJ7M1DG-hddmrhO3FLvguF_8iepW"></div>
    </div>
    <div>
      <button class="flex items-center justify-center w-full px-6 py-4 mx-auto text-lg font-bold leading-5 text-center text-white rounded-full bg-secondary"
        type="submit">
        Send me more information
      </button>
    </div>
  </form>
</div>
